/*  
    soft reset do css
    * site exemplo https://meyerweb.com/eric/tools/css/reset/

    Tudo que for incluido entre chaves vai ser aplicado na iniciacao 
    Seletor mais generico


    display:Flex  tudo que vai apos este cara as tags viram tudo coluna
    entretando nav e div sao colunas
    
*/

/*
    Fonts family do "font.google"

    * font-family: 'Allura', cursive; --Assinatura
    * font-family: 'Courgette', cursive; --Padrão
    * font-family: 'Monoton', cursive; --Titulo temporario
    * font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Fredericka the Great', cursive;
    
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courgette", cursive;
  background-image: url("https://1.bp.blogspot.com/-ycEQ2OrCr9Q/XV7X-Gl3xoI/AAAAAAAALj4/MZ4ZD0Mpfv4LNNHXKy2-eP58Mh245qazQCLcBGAs/w914-h514-p-k-no-nu/luffy-vs-big-mom-one-piece-pirate-warriors-4-uhdpaper.com-8K-3.688-wp.thumbnail.jpg");
  background-size: auto 100vh;
  /*
        background-size largura     altura
                        auto        500px
                        50px        100vh
                        100vw       100vh
    */
  height: 100vh;

  font-size: 10px;
}

/*
    se a minha tela tiver pelo menos 400px vai carregar estes estilos ou seja quando for maior ou igual a 400px
    entra dentro da minha condicao

    @media conhecido como breakpoint
*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  /*  */
  display: flex;
  /*Alinhamento vertical*/
  justify-content: center;
  /*Alinhamento horizontal*/
  align-items: center;
}

.menu {
  background-color: white;

  /*Mantendo o Menu fixo apos*/
  position: fixed;
  width: 100vw;
  /*so funciona com position declarado*/
  top: 0;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu a {
  /* Transformando o link em bloco */
  display: block;
  padding: 10px 20px;
}

a {
  color: teal;
  text-decoration: none; /*Removendo o underline do link*/
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: white;
  text-align: center;
}

.site-title {
  /* deixar a fonte 4x o tamanho da font do body*/
  font-size: 4em;
  font-family: "Fredericka the Great", cursive;
}

.site-subtitle {
  font-style: italic;
  line-height: 1.5em; /* altura da linha*/
  font-family: "Gloria Hallelujah", cursive;
}

.portifolio {
  padding: 2em;
  height: calc(100vh - 20px);
}

/* 
    Nivel de hierarquia grid dentro do portifolio
    grid não forca coluna
*/
.portifolio .grid {
  display: grid;
  /*define o especamento entre colunas e linhas*/
  gap: 2em;
  /*
        Definindo as colunas da GridView
        Todo mundo vai trazer duas colunas
        grid-template-columns: 240px 240px;
    */
}

@media (min-width: 720px) {
  .portifolio .grid {
    grid-template-columns: 260px 260px;
    align-content: center;
    justify-content: center;
    /*calc o operador tem que ser separado*/
    height: calc(100vh - 5.5em - 48px);
  }
}

@media (min-width: 850px) {
  .portifolio .grid {
    /* grid-template-columns: 240px 240px; */
    grid-template-columns: repeat(3, 260px);
    /*so existe para display: grid*/
  }
}

.portifolio figure {
  text-align: center;
}

.portifolio h2 {
  font-family: "Courgette", cursive;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.img-portifolio {
  height: 180px;
  width: 240px;
  /*contain proporcoes originais*/
  /*cover deixa as imagesn com mesma relacao de altura*/
  object-fit: cover;
  /*pegar direcao da proporcao da imagem esquerda para abaixo*/
  object-position: left bottom;
  border-radius: 20px;
}

/* 
@media (min-width: 1200px) {
  .img-portifolio {
    height: auto;
    width: 100%;
  }
}
*/
/*em multiplicado em cima do font-size padrao*/