/*  
    soft reset do css
    * site exemplo https://meyerweb.com/eric/tools/css/reset/

    Tudo que for incluido entre chaves vai ser aplicado na iniciacao 
    Seletor mais generico


    display:Flex  tudo que vai apos este cara as tags viram tudo coluna
    entretando nav e div sao colunas
    
*/

/*
    Fonts family do "font.google"

    * font-family: 'Allura', cursive; --Assinatura
    * font-family: 'Courgette', cursive; --Padrão
    * font-family: 'Monoton', cursive; --Titulo temporario
    * font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Fredericka the Great', cursive;
    
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Amiri', serif;
  
    /* top, transparent red */
    background-image : rgb(31,28,79);
    background-image : -moz-linear-gradient(90deg, rgba(31,28,79,0.6) 0%, rgba(0,0,238,0.6) 35%, rgba(74,225,255,0.6) 100%), url("../img/fundo.jpg");
    background-image : -webkit-linear-gradient(90deg, rgba(31,28,79,0.6) 0%, rgba(0,0,238,0.6) 35%, rgba(74,225,255,0.6) 100%), url("../img/fundo.jpg");
    background-image : linear-gradient(90deg, rgba(31,28,79,0.6) 0%, rgba(0,0,238,0.6) 35%, rgba(74,225,255,0.6) 100%), url("../img/fundo.jpg");
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1c4f",endColorstr="#4ae1ff",GradientType=1), url("../img/fundo.jpg");
    
    background-size: 100vw 100vh;
  /*
        background-size largura     altura
                        auto        500px
                        50px        100vh
                        100vw       100vh
    */
  height: 100vh;

  font-size: 10px;
}

/*
    se a minha tela tiver pelo menos 400px vai carregar estes estilos ou seja quando for maior ou igual a 400px
    entra dentro da minha condicao

    @media conhecido como breakpoint
*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  /*  */
  display: flex;
  /*Alinhamento vertical*/
  justify-content: center;
  /*Alinhamento horizontal*/
  align-items: center;
}

.menu {
  background: linear-gradient(90deg, rgba(31,28,79,1) 0%, rgba(0,0,238,1) 35%, rgba(74,225,255,1) 100%);
  

  /*Mantendo o Menu fixo apos*/
  position: fixed;
  width: 100vw;
  /*so funciona com position declarado*/
  top: 0;
  z-index: 1;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu a {
  /* Transformando o link em bloco */
  display: block;
  padding: 10px 20px;
  /* todas as propriedades que queremos a mudanca de transicao*/
  transition: background-color 1s, color 1s;
  font-family: 'Amiri', serif;
}

.menu a:hover {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  color: whitesmoke;
}

.menu a:active {
  color: whitesmoke;
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

a {
  color: whitesmoke;
  font-family: 'Roboto Slab', serif;
  text-decoration: none; /*Removendo o underline do link*/
  font-size: 2em;
}

a:hover {
  text-decoration: underline;
}


.titulo {
  animation:  linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  /* trabalha com porcentagem */
  /* inicio */
  0% {
  /*diminuir a escala quando coloca zero*/
  transform: scale(0) translateY(50vh);
  /*opacity zero fica transaparente e um e visivel*/
  opacity: 0;
  }

  /* completo */
  100%{
  /*diminuir a escala quando coloca zero*/
  transform: scale(1) translateY(0);
  /*opacity zero fica transaparente e um e visivel*/
  opacity: 1;
  }
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  /* deixar a fonte 4x o tamanho da font do body*/
  font-size: 4em;
  font-family: "Amiri, serif";
  font-weight: 700;
}

.site-subtitle {
  font-style: italic;
  line-height: 1.5em; /* altura da linha*/
  font-size: 2em;
  font-family: "Amiri, serif";
  font-weight: 500;
}

.sobre,
.portifolio {
  padding: 2em;
  min-height: 100vh;
  /*mantendo os conteudos dos conainer alinhados no centro*/
  margin-left: auto;
  margin-right: auto;
}

.contato {
  height: 6em;
  padding: 15px 0px;
  background: linear-gradient(90deg, rgb(31, 28, 79) 0%, rgb(0, 0, 238) 35%, rgb(74, 225, 255) 100%);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 
    Nivel de hierarquia grid dentro do portifolio
    grid não forca coluna
*/
.portifolio .grid {
  display: grid;
  /*define o especamento entre colunas e linhas*/
  gap: 2em;
  /*
        Definindo as colunas da GridView
        Todo mundo vai trazer duas colunas
        grid-template-columns: 240px 240px;
    */
    align-content: center;
    justify-content: center;
}

@media (min-width: 720px) {
  .portifolio .grid {
    grid-template-columns: 240px 240px;
    /*calc o operador tem que ser separado*/
    /* height: calc(100vh - 5.5em - 48px); */
  }
}

@media (min-width: 850px) {
  .portifolio .grid {
    /* grid-template-columns: 240px 240px; */
    grid-template-columns: repeat(3, 240px);
    /*so existe para display: grid*/
  }
}

.portifolio figure {
  text-align: center;
}

.sobre h2,
.contato h2,
.portifolio h2 {
  /* font-family: 'Roboto Slab', serif; */
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
  font-weight: normal;
  margin-top: 63px;
}

.portifolio p,
.sobre p {
  color: whitesmoke;
  text-indent: 1.4em;
  margin-bottom: 1em;
  text-align: justify;
  font-size: 1.5em;
  font-family: "Amiri, serif";
}

.sobre a {
  color: cyan;
  text-decoration: underline;
  font-size: 1em;
}

.sobre a:hover {
  color: cyan;
  text-decoration: none;
}

.sobre .avatar {
  /*Vai fazer com que o texto flutue sobre a imagen*/
  float: left;
  margin-right: 2em;
}

.sobre .avatar img {
  /* border-radius: 50%; */
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.img-portifolio {
  height: 180px;
  width: 240px;
  /*contain proporcoes originais*/
  /*cover deixa as imagesn com mesma relacao de altura*/
  object-fit: cover;
  /*pegar direcao da proporcao da imagem centro*/
  object-position: center;
  border-radius: 20px;

  /*transformar um elemento*/
  transition: transform 500ms, rotate 1s;
}

/* .img-portifolio:hover{
  transform: scale(1.3) rotate(10deg);
} */

.flip-card {
  perspective: 500px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
  margin-bottom: 240px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  /*Remover o card que esta atras*/
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;  
}

.card-front figcaption {
  color: whitesmoke;
  font-size: 1.5em;
}

@media (max-width: 719px) {
  .card-front, .card-back {
    left: -130px;
  }
}

.card-back {
  background-color: whitesmoke;
  width: 240px;
  height: 232px;
  border-radius: 20px;
  padding: 15px;
  font-family: "Amiri, serif";
  /*Eixo y para rodar da esquerda para a direita*/
  transform: rotateY(180deg);
}

/* 
@media (min-width: 1200px) {
  .img-portifolio {
    height: auto;
    width: 100%;
  }
}
*/
/*em multiplicado em cima do font-size padrao*/

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:hover {
  text-decoration: none;
  color: whitesmoke;
  /* text-shadow parametros
    eyxo x 
    eyxo y
    fumacado
    cor

    rgba() o ultimo valor é a opacidade
  */
  /* text-shadow: 0px 0px 0px yellow; */
  text-shadow: -6px -10px 10px rgba(255, 255, 255, 0.6);
}

.contato a:active {
  text-decoration: none;
  text-shadow: 0px 0px 10px black;
}
